#app {
   background-size: 50px 50px;
   background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
   height: 100vh;
   cursor: pointer;
   z-index: 10;
}

a {
   cursor: pointer;
}

.box {
   border: 1px solid #000;
   background-color: #DDD;
   cursor: move;
   opacity: 0.75;
}

.box:after {
   content: no-close-quote;
   position: absolute;
   top: 50%;
   left: 50%;
   background-color: #000;
   width: 4px;
   height: 4px;
   border-radius: 50%;
   margin-left: -2px;
   margin-top: -2px;
}


#box-menu {
   box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
   -webkit-box-shadow: 2x 2px 1px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
   
   border-radius: 4px 4px 4px 4px;
   -moz-border-radius: 4px 4px 4px 4px;
   -webkit-border-radius: 4px 4px 4px 4px;
   
   cursor: move;
   
   border: 1px solid #000;
   background-color: #EEE;
   opacity: 0.95;
   
   width: 100px;
   height: 150px;
}

.line {
   background-color: #000;
}